
<form class="styles">

  <div class="row - col-4 set">
    <input type="number" placeholder="Ingrese Operando A"
     [(ngModel)]="operandoA" name ="operandoA" class = " form-control"/>
  </div>

  <div class="form-grup row - col-4 set">
    <input type="number" placeholder="Ingrese Operam B"
    [(ngModel)]="operandoB" name ="operandoB"  class="form-control">
  </div>
    <br>

  <div class="row set">
    <button class="btn btn-primary col-2 set" (click) = "sumar()"> Sumar</button>
  </div>


</form>

